<nav>
  <div class="nav-options"> 
    <div class="home" (click)="toggleStart()">
      <img id="home-ico" src="../../../assets/home.ico" draggable="false">
    </div>
      <div class="search" (click)="toggleSearch()">
        <img id="search-ico" src="../../../assets/search.svg" draggable="false"> 
        <span>Search</span>
      </div>      
  </div>
  <div class="clock" (click)="toggleCalendar()">
    <p>{{ time | date: 'hh:mm a' }}</p>
    <p>{{ time | date: 'dd/MM/YYYY' }}</p>
  </div> 
  <div class="microphone">
    <img id="microphone" src="../../../assets/microphone.png">
  </div>
  <div class="eng-us">
    ENG<br>US
  </div>
  <div class="wi-fi">
    <img id="wi-fi" src="../../../assets/wi-fi.png" alt="">
    <img id="volume" src="../../../assets/volume.png" alt="">
  </div>
  <app-start *ngIf="showStart" [@blub]></app-start>
  <app-search-bar *ngIf="showSearch" [@blub]></app-search-bar>
  <app-calendar *ngIf="showCalendar" [@blub]></app-calendar>
</nav>
