<div class="modal"[@slideUp]>
    <div class="modal-content">
        <span id="recent-text">Recent</span>
        <div class="search-news">
            <div class="search-date">
                <div class="bafo"><img id="bf-ico" src="../../../assets/search-back.png"></div>
                <div class="bafo"><img id="bf-ico" src="../../../assets/search-forward.png"></div>
                {{currentMonth}} {{today | date: 'd'}}
            </div>
            <div class="meme">
                <img id="meme" src="../../../assets/meme.jpg">
            </div>
            <div class="games">
                <div class="game-title">
                    <img id="chess" src="../../../assets/chess.png">Games for you
                </div>
                <div class="game-ico">
                    <img id="game-ico" src="../../../assets/doom-ico.png">
                    Doom II
                </div>
                <div class="game-ico">
                    <img id="game-ico" src="../../../assets/quake-ico.jpg">
                    Quake II
                </div>
                <div class="game-ico">
                    <img id="game-ico" src="../../../assets/half-ico.png">
                    Half Life
                </div>
                <div class="game-ico">
                    <img id="game-ico" src="../../../assets/nfs-ico.jpg">
                    Need for Speed
                </div>
            </div>
            <div class="food">
                <div class="food-title">
                    <img id="fork" src="../../../assets/food.png">Popular Recipes
                </div>
                <div class="food-ico">
                    <img id="food-ico" src="../../../assets/milk-bread.webp">
                    Milk Bread
                </div>
                <div class="food-ico">
                    <img id="food-ico" src="../../../assets/french-bread.jpg">
                    French Bread
                </div>
                <div class="food-ico">
                    <img id="food-ico" src="../../../assets/sourdough.jpg">
                    Sourdough Bread
                </div>
            </div>
        </div>
        <div class="recent-apps">
            <div class="sb-shortcut"><img id="sb-shortcut-ico" src="../../../assets/vsc.ico">Visual Studio Code</div>
            <div class="sb-shortcut"><img id="sb-shortcut-ico" src="../../../assets/runjs.png">RunJS</div>
            <div class="sb-shortcut"><img id="sb-shortcut-ico" src="../../../assets/githubd.ico">Github Desktop</div>
            <div class="sb-shortcut"><img id="sb-shortcut-ico" src="../../../assets/docker.ico">Docker</div>
            <div class="sb-shortcut"><img id="sb-shortcut-ico" src="../../../assets/gray_settings.svg.png">Settings</div>
        </div>        
    </div>    
</div>
