.modal {
  min-height: 250px;
  height: 400px;
  backdrop-filter: blur(2em);
  min-width: 250px;
  width: 400px;
  position: fixed;
  border-radius: 0.5em;
  top: 1px;
  left: 1px;
  overflow: auto;
  background-color: rgb(33, 33, 33)
  }
  