<div class="modal"[@slideUp]>
    <div class="modal-content">
        <div class="start-search">
            <img id="search-txt-ico" src="../../../assets/search.svg">
            <input class="start-txt" type="text" placeholder="Search for apps, settings and documents">
        </div>
        <span id="tech-title">Tech Stack</span>
        <div class="tech-stack">
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/angular-ico.png">Angular</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/react-ico.png">React</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/redux-ico.png">Redux</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/javascript-ico.png">JavaScript</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/express-ico.png">Express</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/node-ico.png">Node</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/mysql-ico.png">MySQL</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/postgre-ico.png">PostgreSQL</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/sequelize-ico.png">Sequelize</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/mongodb-ico.png">MongoDB</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/css-ico.png">CSS</div>
            <div class="start-shortcut"><img id="st-shortcut-ico" src="../../../assets/git-ico.png">Git</div>
        </div>
        <div class="tech-bottom">
            <div class="username">
                <img class="my-photo" src="../../../assets/Photo.png">
                Guillermo Nicrosi
            </div>
            <div class="shutdown">
                <img id="shutdown-ico" src="../../../assets/shutdown.png">
            </div>
        </div>
    </div>    
</div>
