<div class="container">
    <app-navbar></app-navbar>
        <div id="escritorio">
            <h3 (dblclick)="showAbout = true">about-me.txt</h3>
            <h3 (dblclick)="showProjects = true">projects.txt</h3>
            <h3 (dblclick)="showContact = true">contact-me.txt</h3>
        </div>
    <app-about *ngIf="showAbout" (closeAbout)="onCloseAbout()"></app-about>
    <app-projects *ngIf="showContact" (closeProjects)="onCloseContact()"></app-projects>
    <app-contact *ngIf="showProjects" (closeContact)="onCloseProjects()"></app-contact>
</div>



