#escritorio{
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: white;    
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
}

.shortcut{
    width: 110px;
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius: 0.5em;
}

.shortcut:hover{
    background-color: rgba(107, 107, 107, 0.3);;
    border-radius: 0.5em;
}

.shortcut span{
    white-space: nowrap;
}

#project{
    margin-left: 21px;
}

#about-me{
    margin-left: 17px
}

#github{
    margin-left: 25px;
}

#mail{
    margin-left: 34px;
}

#linkedin{
    margin-left: 20px;
}

#pdf{
    margin-left: 35px;
}

img{
    margin-left: 13px;
}

#github-ico{
    width: 67px;
}

#mail-ico{
    width: 67px;
}

#linkedin-ico{
    width: 68px;
}

#pdf-ico{
    width: 60px;
}
